#mazeContainer {
  height: 100%;
  width: 100%;
  table {
    border-collapse: collapse;
  }
  table,
  td {
    border: 1px solid black;
  }
  td {
    color: black;
    height: 30px;
    width: 30px;
  }
}
